@import "@assets/styles/mixins";

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
	padding: 15px 0;
	@include flex(row, space-between, center, 10px);
	height: 5.5rem;
	background-color: #FDFDFD;
	
	@media (max-width:1440px) {
		@include flex(row, space-between, center, 10px);
	}
	@media (max-width:1180px) {
		@include flex(row, space-around, center, 0);
	}
	@media (min-width:1040px) and (max-width:1180px) {
		@include flex(row, space-around, center, 0);
	}
	// .header__logo
	&__logo {
		color: #558ac9;
		font-size: 32px;
		font-weight: 900;
		letter-spacing: 1.28px;
		text-transform: uppercase;
		width: fit-content;

		&::after {
			content: "STUDY";
			color: #97c05c;
			font-size: 32px;
			font-weight: 900;
			letter-spacing: 1.28px;
		}
	}

	// .header__nav
	&__nav {
		@include flex(row, normal, right, 15px);
	}

	&__nav-link {

		color: #ffffff;
		font-weight: 700;
		width:130px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: #444;

		@media (max-width: 480px) {
			&:first-child {
				display: none;
			}
		}

		&.active {
			color: #888;
		}
	}

	// .header__profile
	&__profile {
	}

	// .header__profile-username
	&__profile-username {
	}
}
