@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "@assets/styles/mixins";

:root {
	--main-color: ;

	--bg-color: #eae9e6;

	--main-font: "Lato", sans-serif;

	--animation-fast: 0.3s;
	--animation-normal: 0.5s;
	--animation-slow: 0.7s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--bg-color);
	@include flex(column, normal, normal, 0);
}

body {
	min-height: 100vh;
	width: 90%;
	margin: 0 auto !important;
	@include flex(column, normal, normal, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
li {
	cursor: default;
	font-family: var(--main-font);
}

a {
	text-decoration: none;
	font-family: var(--main-font);
}

button {
	@include reset();
	font-family: var(--main-font);
}

input {
	@include reset();
	font-family: var(--main-font);
}
